<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
 <head>
   <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
   <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css">
   <link rel='stylesheet' href='/Content/app.css' />
 </head>
 <body>
   <section id="about">
     <div class="container mt-4 pt-4">
         <h1 class="text-center">Team Free</h1>
         <div class="row mt-4">
             <div class="col-lg-4">
                 <img src="Screenshot 2023-07-12 125418.png" class="TeamLogo"width="auto" height="250">
             

                 </div>
                 <p><a href="game.ejs" target="_blank">Create Survey</a></p> 
                </div>
              
 </section>
 </body>
</html>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>