
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Create Survey</h1>
            <br>
            <form [formGroup] = "surveyForm" action="/survey/create" method="POST" >
                <label> Title : </label>
                <input  formControlName = "title" type="text" required> 
                <br>
                <label> Thumbnail url : </label>
                <input  formControlName = "thumbnail" type="text" required> 
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>pick a expiry date</mat-label>
                    <input formControlName = "expire" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr class="d-flex">
                        <th class="text-center col-1">Q#</th>
                        <th class="text-center col-7">Question</th>
                        <th class="text-center col-4">Answer</th>
                    </tr>
                    <ng-container #container></ng-container>
                
                
                <button (click)="addMC()" class="btn btn-outline-success" type="button">add MC</button>
                <button (click)="addTF()" class="btn btn-outline-success" type="button">add TF</button>
                <button (click)="remveLastQue()" class="btn btn-outline-danger" type="button">remove Last Question</button><br>
                <button (click)="submit()"class="btn btn-outline-primary" >submit</button>
            </table>
            </form>
            <p id="question_counter" style="visibility: hidden;"> 1 </p>
        </div>
    </div>