
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Create Survey</h1>
            <br>
            <form action="/game/create" method="POST" >
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr class="d-flex">
                        <th class="text-center col-1">Q#</th>
                        <th class="text-center col-7">Question</th>
                        <th class="text-center col-4">Answer</th>
                    </tr>
                    <ng-container #container></ng-container>
                
                
                <button (click)="addMC()" class="btn btn-outline-success" type="button">add MC</button>
                <button (click)="addTF()" class="btn btn-outline-success" type="button">add TF</button>
                <button class="btn btn-outline-danger" type="button">remove question</button><br>
                <button class="btn btn-outline-primary" type="submit">submit</button>
            </table>
            </form>
            <p id="question_counter" style="visibility: hidden;"> 1 </p>
        </div>
    </div>