<tr class="d-flex">
    <td class="text-center col-1">{{queNum}}</td>
    <td class="text-center col-7">
        <input type="text" name="q1" required>
    </td>
    
    <td>
            
        <input name="opthelp{{queNum}}" tabindex="11" type="radio" value="Excellent">Excellent
        <input name="opthelp{{queNum}}" tabindex="13" type="radio" value="Good">Good
        <input name="opthelp{{queNum}}" tabindex="15" type="radio" value="Fair">Fair
        <input name="opthelp{{queNum}}" tabindex="11" type="radio" value="Poor">Poor
    </td>
    
</tr>