<div class="grid-container">
  <h1 class="mat-h1">Surveys</h1>
  <mat-grid-list cols="2" rowHeight="350px" >
    <mat-grid-tile *ngFor="let survey of surveys" [colspan]="survey.cols" [rowspan]="survey.rows">
      <a href="survey/{{survey._id}}">
        <mat-card class="dashboard-survey">
          <mat-card-header>
            <mat-card-title>
              {{survey.title}}
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-survey-content">
            <img src="{{survey.thumbnail}}">
          </mat-card-content>
          <p>{{survey.submitCount}} people have done this!</p>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
